<html>
<head>
<script src="bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
  <body>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#">Backend System</a>
              </div>
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="report">report</a></li>
                  <li><a href="#">Page 2</a></li>
                  <li><a href="#">Page 3</a></li>
                  <li>
                    <form method="POST" action="/logout">
                      <input type="submit" value="logout" name="logout" value="logout">
                      </form>
                    </li>
              </ul>
          </div>
      </nav><!--...
      <form method="POST" action="/logout">
        <button type="submit" value="logout" name="logout">
        </form>
        -->
   

    <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/16Tg8KTEaNhHj6mVwnKTozo8cVziec3tY/page/EEdq" frameborder="0" style="border:0" allowfullscreen></iframe>
    <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/1-NMK4g5rAPCWQDrN8GHuNQxGemoKdvbp/page/dGdq" frameborder="0" style="border:0" allowfullscreen></iframe>
    <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/1G1IOYt12dFAPuqjG17nPkV07zFW6Brl8/page/sKdq" frameborder="0" style="border:0" allowfullscreen></iframe>
  
  </body>
</html>
